{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
CURRENT NEWS
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>{{ current_news.name }}</h1>
{{ current_news.content }}
<br>
<a href="{% url 'update_news' current_news.id %} "><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
<a href="{% url 'delete_news' current_news.id %} "><u> Удалить </u></a>
<br>
<a href = '../news/'>Все новости</a>
{% endblock content %}