{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет products -->
{% block title %}
Search News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>All news: </h1>

<hr>
<form method="get">
    {{ filter.form }}
    <label for="date">Date of publication:</label>
    <input type="date" id="date" name="datetime_pub"
           value="2018-07-22__gte"
           min="2018-01-01" max="2022-12-31">
    <input type="submit" value = "Найти">
</form>
<table>
    <tr>
        <td> Name </td>
        <td> Content </td>
        <td> Category </td>
        <td> Datetime </td>
    </tr>
    {% for i in search_news %}
        <tr>
            <td> <a href= {{i.id}} >{{ i.name|censor }}</a></td>
            <td> {{ i.content|truncatechars:20|censor }} </td>
            <td> {{ i.category }} </td>
            <td> {{ i.datetime_pub }} </td>
        </tr>

    {% empty %}
        <li> Sorry, that list is empty </li>
    {% endfor %}
</table>
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}